.topp {
  height: 46px;
  line-height: 47px;
  background: #ef8201;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

.topp-back {
  width: 8px;
  height: 16px;
  background-image: url(../../assets/images/arrow-left.png);
  background-size: 100% 100%;
  position: absolute;
  left: 19px;
  top: 14px;
}

.topp-title {
  font-size: 16px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mine {
  position: absolute;
  right: 19px;
  top: 14px;
  width: 18px;
  height: 18px;
  background-image: url(../../assets/images/mine-white.png);
  background-size: 100% 100%;
}

.el-message-box {
  width: 70% !important;
}

.mint-toast {
  line-height: 20px;
}

.el-message-box__btns button:nth-child(2) {
  margin-left: 30px !important;
}

.mint-msgbox-btns {
  height: 45px;
  line-height: 45px;
}

.mint-msgbox-confirm {
  font-size: 16px;
  letter-spacing: 5px;
}
